*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

body{
  width:90%;
  max-width: 960px;
  margin: 0 auto;
  background: #191919;
  color: #ffffff;
  font-size: 100%/1.5em;
}

/*фикс для родительского div*/
.clear-fix:before,
.clear-fix:after{
	content: "";
	display: table;
}

.clear-fix:after{
	clear: both;
}

.container{
  width: 79.16666666666667%; /*760px / 960px*/
  margin: 0 auto;

  /*удалить после верстки*/
  border: 1px solid black;
}
.cols{
  float: left;
}
/*fluid grid*/
.cols.col-1{width: 8.333333333333333%;}
.cols.col-2{width: 16.66666666666667%;}
.cols.col-3{width: 25%;}
.cols.col-4{width: 33.3333333333333%;}
.cols.col-5{width: 41.6666666666667%;}
.cols.col-6{width: 50%;}
.cols.col-7{width: 58.3333333333333%;}
.cols.col-8{width: 66.6666666666667%;}
.cols.col-9{width: 75%;}
.cols.col-10{width: 83.3333333333333%;}
.cols.col-11{width: 91.6666666666667%;}
.cols.col-12{width: 100%;}

.main-header{
  background: #eff0f2;
  /*удалить после верстки*/
  border: 1px solid black;
  height: 9.0625em; /*145px / 16px*/
}

.main-logo{
  float: left;
  width: 23.68421052631579%; /*180px / 760px*/
  margin-top: 0.9375em; /*20px / 16px*/
}

.main-menu{
  float: right;
  width: 74.34210526315789%; /*565px / 760px*/
  margin-top: 3.125em; /*50px / 16px*/
  /*удалить после верстки*/
  border: 1px solid yellow;
  height: 1.5em; /*24px / 16px*/
}

.say-hello{
  background: #eff0f2;
  /*удалить после верстки*/
  border: 1px solid green;
  height: 29.0625em; /*465px / 16px*/
}

.main-greeting{
  margin-top: 3.75em; /*60px / 16px*/
  /*удалить после верстки*/
  border: 1px solid green;
  height: 125px;
}

.about-us{
  float:left;
  background: #f8fafa;
  /*удалить после верстки*/
  border: 1px solid orange;
  height: 40.9375em; /*655px / 16px*/
}

.about-us-headline{
  margin-top: 1.5625em; /*20px / 16px*/
  margin-bottom: 2.8125em; /*80px / 16px*/
  /*удалить после верстки*/
  border: 1px solid blue;
  height: 3.75em;/*60px / 16px*/
}

.content{
  float:left;
  /*удалить после верстки*/
  border: 1px solid green;
  height: 24.375em; /*390px / 16pxx*/
}

.about-us-gallery{
  margin: 0;
  /*удалить после верстки*/
  border: 1px solid red;
  height: 24.375em; /*390px / 16pxx*/
}

.about-us-content-right{
  margin: 0;
  /*удалить после верстки*/
  border: 1px solid red;
  height: 24.375em; /*390px / 16pxx*/
}

.presentation{
  float: left;
  width: 100%;
  background: #ffffff;
  /*удалить после верстки*/
  border: 1px solid grey;
  height: 43.75em; /*700px / 16px*/
}

.presentation-headline{
  margin-top:1.5625em; /*20px / 16px*/
  margin-bottom: 4.0625em; /*65px / 16px*/
  /*удалить после верстки*/
  border: 1px solid blue;
  height: 2.5em; /*40px / 16px*/
}

.presentation-gallery{
  float:left;
  width: 100%; /*780px / 780px*/
  /*удалить после верстки*/
  border: 1px solid green;
  height: 31.25em; /*500px / 16px*/
}

.collums{
  float: left;
  /*удалить после верстки*/
  border: 1px solid blue;
  height: 31.25em; /*485px / 16px*/
}

.cell{
  float:left;
  width: 95%;
  margin:2%;
  /*удалить после верстки*/
  border: 1px solid red;
  height: 15em; /*240px / 16px*/
}

.services{
  float:left;
  background: #f9fbfb;
  /*удалить после верстки*/
  border: 1px solid red;
  height: 67.5em; /*1080px / 16px*/
}

.services-headline{
  margin-top: 2.8125em; /*45px / 16px*/

  /*удалить после верстки*/
  border: 1px solid blue;
  height: 2.5em; /*40px / 16px*/
}

.services-articles{
  float: left;
  margin-top: 7.8125em; /*125px / 16px*/
  /*удалить после верстки*/
  height: 49.6875em; /*795px / 16px*/
}

.row-1{
  /*удалить после верстки*/
  border: 1px solid red;
  height: 17.5em; /*280px / 16px*/
}

.row-2{
  /*удалить после верстки*/
  border: 1px solid red;
  height: 15.9375em; /*255px / 16px*/
}

.team{
  float: left;
  width: 100%;
  background: #ffffff;
  /*удалить после верстки*/
  border: 1px solid grey;
  height: 54.6875em; /*875px / 16px*/
}

.team-headline{
  margin-top:4.6875em; /*75px / 16px*/
  margin-bottom: 5.625em; /*90px / 16px*/
  /*удалить после верстки*/
  border: 1px solid blue;
  height: 2.5em; /*40px / 16px*/
}

.team-collums{
  float: left;
  /*удалить после верстки*/
  border: 1px solid blue;
  height: 36.875em; /*595px / 16px*/
}

.team-cell{
  width: 95%;
  margin: 0 auto;
  margin-bottom: 0.625em;

  /*удалить после верстки*/
  border: 1px solid red;
  height: 18.125em;/*290px / 16px*/
}

.team-cell:last-child{
  margin-bottom: 0;
  border-color: black;
}

.reviews{
  float: left;
  background: #f9fbfb;
  /*удалить после верстки*/
  border: 1px solid red;
  height: 38.75em;/*620px / 16px*/
}

.reviews-headline{
  margin-top:4.6875em; /*75px / 16px*/
  margin-bottom: 5.65em; /*100px / 16px*/
  /*удалить после верстки*/
  border: 1px solid blue;
  height: 2.5em; /*40px / 16px*/
}

.reviews-gallery{
  float: left;
  margin-left: 1.315789473684211%;
  /*удалить после верстки*/
  border: 1px solid green;
  height: 20.3125em; /*315px / 16px*/
}

.reviews-content{
  margin-left: 6.578947368421053%;
  /*удалить после верстки*/
  border: 1px solid green;
  height: 20.3125em; /*315px / 16px*/
}

.partners{
  float: left;
  background: #ffffff;
  /*удалить после верстки*/
  border: 1px solid green;
  height: 16.875em; /*260px / 16px*/
}

.contacts{
  float: left;
  background: #f9fbfb;
  /*удалить после верстки*/
  border: 1px solid green;
  height: 28.75em; /*460px / 16px*/
}

.contacts-form{
  width: 52.63157894736842%; /*410 px / 760 px*/
  margin: 0 auto;
  margin-top: 0.9375em; /*15px / 16px*/

  /*удалить после верстки*/
  border: 1px solid green;
  height: 19.0625em; /*305px / 16 px*/
}

.main-footer{
  float: left;
  background: #262b2e;
  /*удалить после верстки*/
  border: 1px solid white;
  height: 13.125em; /*210 px / 16px */
}

.footer-social{
  margin: 0 auto;
  margin-top: 3.4375em; /*55px / 16px*/
  width: 19.73684210526316%; /*160px / 760px*/
  /*удалить после верстки*/
  border: 1px solid white;
  height: 3.4375em; /*55px / 16px */
}

.footer-copyright{
  width: 44.73684210526316%; /*340px / 760px*/
  margin: 0 auto;
  margin-top: 1.25em;/*20px / 16px*/
  /*удалить после верстки*/
  border: 1px solid white;
  height: 1.5625em; /*25px / 16px */
}
