*{
  margin: 0;
  padding: 0;
}

body{
  max-width: 960px;
  margin: 0 auto;

  background: #f8fafa url("../img/bg_grid.jpg") no-repeat center;
  color: #505050;

  font-size: 100%/1.5em;
  /*удалить после верстки*/
  border: 1px solid yellow;

}

/*фикс для родительского div*/
.clear:before,
.clear:after{
	content: "";
	display: table;
}

.clear:after{
	clear: both;
}

.container{
  width: 81.25%;
  margin: 0 auto;

  /*удалить после верстки*/
  border: 1px solid black;
  min-height: 5480px;
}
/*fluid grid*/
.container .cols.col-1{width: 8.333333333333333%;}
.container .cols.col-2{width: 16.66666666666667%;}
.container .cols.col-3{width: 25%;}
.container .cols.col-4{width: 33.3333333333333%;}
.container .cols.col-5{width: 41.6666666666667%;}
.container .cols.col-6{width: 50%;}
.container .cols.col-7{width: 58.3333333333333%;}
.container .cols.col-8{width: 66.6666666666667%;}
.container .cols.col-9{width: 75%;}
.container .cols.col-10{width: 83.3333333333333%;}
.container .cols.col-11{width: 91.6666666666667%;}
.container .cols.col-12{width: 100%;}

.say-hello{
  /*удалить после верстки*/
  border: 1px solid red;
  height: 520px;
}

header{
  margin-bottom: 20px;
  /*удалить после верстки*/
  border: 1px solid blue;
  height: 180px;
}

.logo{
  float:left;
  margin-left: 10px;
  margin-top: 20px;
  width:33.3333%;
  /*удалить после верстки*/
  border: 1px solid green;
  height: 160px;
}

.main-menu{
  float:right;
  width: 9.6154%;
  margin-top: 50px;

  /*удалить после верстки*/
  border: 1px solid green;
  height: 25px;
}

.main-greeting{
  /*удалить после верстки*/
  border: 1px solid green;
  height: 125px;
}
